.welcome{
    font-size: 2.5rem;
    background-color: hsl(120, 100%, 42%);
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 0;
}

.login{
    font-size: 2.5rem;
    background-color: hsl(9, 93%, 48%);
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 0;
}